<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YONGE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/LerningAsp.styles.css" asp-append-version="true"  />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>        
    <div class="topnav">      

                      <a class="topnav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                      <a class="topnav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>                     
                      <a class="topnav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>       
                      <a class="topnav-link" asp-area="" asp-controller="Home" asp-action="LogoutView">Logout</a>   
                      <a class="topnav-link" asp-area="" asp-controller="Home" asp-action="FindFriends">Friends</a>
                      <div class=FindGuys>
                      <form method="get">                   
                      <input type="text" name="password" /><br /><br />                       
                      </form>
                      </div>
                      <div class=FindGuysImage>
                          <img src="/Images/lupaAsp.png" width="30px" height="30px"/>

                      </div>
                      
                      <a class="topnavImageRegos-link" asp-area="" asp-controller="Home" asp-action="GoToProfile">
                        <img class="imgRegistr"  src="/Images/regUser.png" width="30" height="30" />
                      </a>     
                      
                      <a class="topnavReg-link" asp-area="" asp-controller="Home" asp-action="Registr">Registration</a>                       
                      <a class="topnavLog-link" asp-area="" asp-controller="Home" asp-action="Loging">Login</a>                     
                  @*     <form method="post" asp-controller="Home" asp-action="Logout">
                     <input type="submit" value="Выход" />
                       </form>*@
                 
</div>
   
 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LerningAsp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
