@{
    ViewData["Title"] = "About";
}
<body>
    <head>
        <link rel="stylesheet" href="/css/about.css">
    </head>

<div class="text-center">
    <h1 class="display-4">Немного о себе</h1>
     <img class="logo" src = "/Images/ded.jpg"/>

      <div class="block1">
           Наша компания разрабатывает очко осла уже 10 год. 
           Каждый нигерийский ученый хотел бы заполучить наш патент.
           Вообщем имба корпорация. 
           Кстати вот наши главные разработчики:
      </div>
      <img class="razrabOne" src = "/Images/тимлид.jpg" />
      <img class="razrabOne" src = "/Images/frontendразраб.jpg" />

</div>
</body>
