@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
 
   <div class="container">
       
         <img class="chopImgClass" src="/Images/chop.png" />
         <img class="FranklinImgClass" src="/Images/franklin.jpg" />
         <img class="SonMikl" src="/Images/SonMikl.jpg" />
         <h1>WELCOME</h1>
    </div>
  <div class="textcontainer">
      <p>
         Тут короче мой текстик можешь чекнуть пиздец короче епта
      </p>
  </div>

</body>


