
@model LerningAsp.Entyties.User
@{
    ViewData["Title"] = "Profile";
}
<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>
<body>
    <h1>@Model.Login<h1/>
    <h2>@Model.Profile.Description</h1>
    @if (!string.IsNullOrEmpty(Model.Profile?.ImagePath))
    {
            <img src="@Url.Action("GetImage", "Home", new { imagePath = Model.Profile.ImagePath })"  width="100" height="100"/>
    }

    <form method="post" asp-controller="Home"  asp-action="UploadPhoto" enctype="multipart/form-data">
    <input type="file" name="image" /><br>
    <input type="submit" value="Загрузить" />
    </form>

</body>
