
@{
    ViewData["Title"] = "Profile";
}
<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>
<body>

    <h1>@User.Identity.Name</h1>
    <img class="UserProfileImage" src="/Images/UserImgForAsp.png" />

</body>
